<h2 id='title'>Set</h2>

{{#if cardsToShow.length}}
	{{#each card in cardsToShow}}
		<div class="card">
			{{card.color}}
			{{card.shape}}
			{{card.count}}
			{{card.fill}}
		</div>
	{{/each}}
{{else}}
	<button {{action "dealCards"}}>deal</button>
{{/if}}