<h2 id='title'>Set</h2>

{{#each card in cardsToShow}}
	<div class="card" {{action "addCard" card}}>
		{{card.color}}
		{{card.shape}}
		{{card.count}}
		{{card.fill}}
	</div>
{{/each}}

<div>
{{#each card in selectedCards}}
	<div class="card" {{action "addCard" card}}>
		{{card.color}}
		{{card.shape}}
		{{card.count}}
		{{card.fill}}
	</div>
{{/each}}